body {
    background: #797878; /* Sonic Silver */
    color: #797878; /* Sonic Silver */
    font-family: 'Optima Bold Italic', sans-serif;
    line-height: 1.6;
}

.navbar-container {
    display: flex;
    position: relative;
    justify-content: flex-start; /* Aligns items to the start of the container */
    align-items: center; /* Centers items vertically */
    padding-left: 20px; /* Adds some space from the left edge of the page */
    height: 85px; /* Sets the height of the navbar */
    width: 100%; /* Makes the navbar span the full width of the page */
    background-color: #333; /* Adds a background color to the navbar */
}

#home,
#events,
#points {
    color: white;
    margin-right: 20px; /* Adds some space between the items */
    -webkit-text-size-adjust: 100%;
    --brand-color: #ffe600;
    --ey-color: #ffe600;
    --parthenon-color: #1a9afa;
    --window-height: 1067px;
    --scrollbar-width: 17px;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    -webkit-box-direction: normal;
    margin: auto;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 22px;
    position: relative;
    height: 100%;
    font-weight: 400;
    white-space: nowrap;
    padding: 0 5px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    outline: none;
}


#logo {
    width: 80px;
    height: 80px;
    margin: 80px 0 0 5px;
    margin-top: auto;
}

.unicode {
    font-size: 18px;
    margin-left: 40px;
    cursor: pointer;
}


.home-text {
    padding: 20px;
    background-color: rgba(46,46,56,255); 
    border-radius: 10px; 
    max-width: 800px; 
    margin: 20px auto; 
    color: rgba(252,186,3,255);
}

#content-container {
    display: block; 
    background-color: #797878; /* Sonic Silver */
    padding: 20px;
    border-radius: 10px;
}

#registration-container,
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 8px; 
}

.event-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.event-card h2 {
    margin-top: 0;
}

.event-link {
    display: inline-block;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
}

.event-link:hover {
    background-color: #0056b3;
}

#registration,
#login {
    color: rgba(252,186,3,255);
   position:absolute; /* Positioning context is the navbar */
   top :10px; /* Positioned at the top with some space */
}

#registration {
   right :120px; /* Positioned from the right with some space */
}

#login {
   right :40px; /* Positioned from the right with some space */
}


