body {
    background: #797878; /* Sonic Silver */
    color: #FFDB00; /* Sizzling Sunrise */
    font-family: 'Arial', sans-serif;
}

#logo {
    width: 80px;
    height: 80px;
    margin: 80px 0 0 5px;
}

.unicode {
    font-size: 24px;
    margin-left: 40px;
    cursor: pointer;
}

.home-text {
    line-height: 1.6; 
    padding: 20px;
    background-color: #333; 
    border-radius: 10px; 
    max-width: 800px; 
    margin: 20px auto; 
}

.comments {
    color: yellow;
}

#content-container {
    display: block; 
}

#registration-container,
#login-container {
    display: none; 
}

.input-container {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 8px; 
}

.event-card,
.item-card {
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
}

.event-title,
.item-info h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.event-description, .event-location,
.item-info p {
    font-size: 18px;
    margin-bottom: 8px;
}

.event-time {
    font-size: 16px;
    margin-bottom: 8px;
}

.item-card img {
    width: 100px; 
    height: auto; 
    margin-right: 16px; 
}

.item-info {
    flex-grow: 1; 
}

.item-price {
    color: green; 
    font-size: 20px;
    font-weight: bold;
}

#search-box {
    padding: 10px 15px; 
    border-radius: 5px; 
    font-size: 16px; 
}

#navbar {
    position: absolute; /* Positioning context is the entire document */
    top: 0; /* Positioned at the top */
    right: 0; /* Positioned at the right */
    display: flex; /* Elements will be in a row */
}

#registration,
#login {
    margin-left: 10px; /* Space between the elements */
}

